extends ../base

block content
    form(method="POST")
        input(placeholder="Old Passwrod", name="oldPassword", type="password")
        input(placeholder="New Passwrod", name="newPassword", type="password")
        input(placeholder="New Passwrod Confirmation", name="newPasswordConfirmaion", type="password")
        input(value="Change Passwrod", type="submit")