extends ../base

block content
    form(method="POST")
        input(placeholder="Old Passwrod")
        input(placeholder="New Passwrod")
        input(placeholder="New Passwrod Confirmation")
        input(value="Change Passwrod", type="submit")